<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Mooncolor's Shop</title>
</head>
<body>
    <header>
        <h1>Mooncolor's Shop</h1>
        <nav>
            <a>Iniciar sesión</a>
            <a>About me</a>
            <a>Comprar</a>
        </nav>
    </header>
    <aside>
        <a>Cuadros</a>
        <a>Prints</a>
        <a>Esculturas</a>
        <a>Flashes y tatuajes</a>
        <a>Pide cita para un tattoo!</a>
    </aside>
    <main>
        <div id="contenedor-imagen-portada">
            <div class="difuminado-blanco-top"></div>
            <div class="flotante">
                <input type="search" placeholder="Lluvia de estrellas">
                <a class="new">New!</a>
                <a class="filter">Filter</a>
            </div>
            <div class="difuminado-blanco-bottom"></div>
        </div>
        
        <div id="contenedor-productos" class="grid-tienda">
        <p>Cargando colección...</p>
        </div>
    </main>

    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>